<p>angular-test works!</p>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">
        <i class="fa fa-fw fa-home"></i>
    </a></li>
    <li><a data-toggle="tab" href="#menu2">
        <i class="fa fa-cc-visa"></i>
    </a></li>
    <li><a data-toggle="tab" href="#menu3">
        <i class="fa fa-fw fa-envelope"></i>
    </a></li>
</ul>
<div class="tab-content">
     <div id="menu1" class="tab-pane fade in active"> 
         <h3><i class="fa fa-credit-card"></i>
          الشريط العلوى</h3>
     </div>
     <div id="menu2" class="tab-pane fade"> 
         <h3>Vertical Tab Menu2</h3>
         Second tab menu content. 
     </div>
     <div id="menu3" class="tab-pane fade"> 
         <h3>Menu3</h3>	
         Third tab menu content.	
     </div>
</div>